.foot
{
	width: 100%;
    height: auto;
    background: #222;
    clear: both;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}
.footer-content
{
	font-family: Roboto,sans-serif;
    text-align: center;
    color: #fff;
    display: table;
    margin: auto;
}
.foot .footer-content p
{
	font-weight: 200;
    text-align: center;
    font-size: 25px;
    margin: 30px 0 0;
    position: relative;
}
.foot .footer-content ul
{
	width: 208px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
    list-style: none;
}
.foot .footer-content ul li a
{
	font-weight: 300;
    font-size: 14px;
    color: #ccc;
}
.footer-social .social-icons li
{
	display: inline-block;
	margin: 0 5px;
}
.social-icons li a
{
    
	font-size: 35px;
	color: #eee;
}
.social-icons li a i
{
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.social-icons li a i:hover
{
    transform: rotate(360deg);
    color: #689f38;
}
.footer-social
{
	padding-left: 150px;
}
.footer-bottom
{
	margin-top: 30px;
}
.copyright p
{
	margin-top: 10px;
}
