/* slide text style */
.slide-text, .slide-title
{
    z-index: 2;
}
section.slide-main 
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

section.slide-main {
    min-height: 234px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}
.slide-main.home.large {
    min-height: 500px
}
.slide-main.home {
    background-color: rgb(9, 150, 162);
    text-align: left
}
.slide-main.home .slide-title {
    border-bottom: thin solid rgba(255,255,255,0.38);
    margin-bottom: 15px;
    max-width: 500px;
    padding-left: 10px;
}
section.slide-main .slide-title {
    padding: 10px 15px;
}
.slide-title {
    position: relative;
    padding: 60px 0;
}
.slide-title .title-head {
    color: white;
    font-size: 2.3rem;
    font-family: "PT Sans Narrow",sans-serif;
}
.slide-main.home .slide-title h1 {
    margin-bottom: 10px;
}
.slide-main.home .slide-text {
    max-width: 560px;
    padding-left: 15px;
}

.slide-text {
    color: white;
    position: relative;
    padding: 0 20px 20px 20px;
    font-size: 1.2rem;
    max-width: 680px;
}
/* end slide text style */

.slide-main.home .slide-overlay-text {
    background-color: #333;
    background-position: top right;
    left: -50%;
    right: 45%;
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    z-index: 1
}
.slide-overlay-text {
    background-color: #fff;
    bottom: -100%;
    left: 50%;
    position: absolute;
    right: -100%;
    top: -100%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
}

.slide-background-image {
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.slide-main.home .slide-background-image {
    background-position: top left;
    left: 49%;
    opacity: .5;
    transition: opacity 250ms ease-in-out
}

.slide-main.home .slide-background-image:hover {
    opacity: 1
}